@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
.bg-dotted {
  background-image: radial-gradient(#d6d6d6 1px, transparent 1px);
  background-size: 18px 18px;
}
html {
  scroll-behavior: smooth;
}
@keyframes slowspin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-slowspin {
  animation: slowspin 18s linear infinite;
}



